- name: Install nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Remove default site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Copy app nginx config
  copy:
    src: app.conf
    dest: /etc/nginx/sites-available/app.conf

- name: Enable app site
  file:
    src: /etc/nginx/sites-available/app.conf
    dest: /etc/nginx/sites-enabled/app.conf
    state: link

- name: Test config file
  command: nginx -t
  register: nginx_test
  changed_when: false

- name: Restart nginx
  service:
    name: nginx
    state: restarted
    enabled: yes
