- name: Update apt
  apt:
    update_cache: yes
    upgrade: yes

- name: Install Docker
  apt:
    name: docker.io
    state: present

- name: Start Docker
  service:
    name: docker
    state: started
    enabled: yes

- name: Install Docker Compose
  apt:
    name: docker-compose-v2
    state: present
